*{
padding: 0;
    margin: 0;
    text-align: center;
    color: rgb(14, 17, 230);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
    min-height:300px;
    height:300px; 
    width:100%;
}

.loader {
    width: 30px;
    height: 30px;
    position: relative;
    display: block;
    margin: 5px auto;
  }
  .loader::before , .loader::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 48em;
    height: 48em;
    background-image:
      radial-gradient(circle 10px, #da5c5c 100%, transparent 0),
      radial-gradient(circle 10px, #da5c5c 100%, transparent 0),
      radial-gradient(circle 10px, #da5c5c 100%, transparent 0),
      radial-gradient(circle 10px, #da5c5c 100%, transparent 0),
      radial-gradient(circle 10px, #da5c5c 100%, transparent 0),
      radial-gradient(circle 10px, #da5c5c 100%, transparent 0),
      radial-gradient(circle 10px, #da5c5c 100%, transparent 0),
      radial-gradient(circle 10px, #da5c5c 100%, transparent 0);
    background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                         13em -13em, -13em -13em, 13em 13em, -13em 13em;
      background-repeat: no-repeat;
    font-size: 0.5px;
    border-radius: 50%;
    animation: blast 1s ease-in infinite;
  }
  .loader::after {
    font-size: 1px;
    background: #fff;
    animation: bounce 1s ease-in infinite;
  }
  
  @keyframes bounce {
    0% , 100%{ font-size: 0.75px }
    50% { font-size: 1.5px }
  }
  @keyframes blast {
    0% , 40% {
      font-size: 0.5px;
    }
    70% {
      opacity: 1;
      font-size: 4px;
    }
     100% {
       font-size: 6px;
      opacity: 0;
    }
  }

#chooseEmoji-btn {
    margin: 35px auto;
}
#startOver-btn {
  margin: 10px auto;
}
#chooseKeyWord-btn {

    margin: 35px auto;
}
#emojis {
    text-align: center;
}

 footer {
    position: absolute;
  
   transition: translateY(-100%); 
  width: 100%;
} 

@media screen and (max-width: 768px) {
  header {
    height:400px;
  }
  #KeyWordEmotion,
  #genreEmotion h1{
    font-size: 50px;
  }
}